* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  margin-top: 20px;
}

header .navleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
}

header .navleft p {
  padding-left: 5px;
  font-size: .9rem;
}

header .navleft svg {
  color: #fed700;
  margin-top: 5px;
}

header span {
  color: #eaebec;
  padding-left: 5px;
  padding-right: 5px;
}

header .navright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navright .register span {
  color: black;
}

header .navright a {
  text-decoration: none;
  color: black;
  padding-left: 5px;
}

nav {
  margin-top: 20px;
}

nav .headerleft a {
  text-decoration: none;
  color: #333e48;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .headerleft h2 {
  font-size: 2.5rem;
  font-weight: 790;
}

nav .headerleft span {
  color: #fed700;
  font-weight: 790;
  font-size: 2.2rem;
}

nav .headermiddle input {
  width: 40%;
  border: 1px solid #fed700;
  border-radius: 25px;
  padding: 10px;
  outline: none;
  position: absolute;
}

nav .headermiddle button {
  border: none;
  position: relative;
  float: right;
  margin-right: 15px;
  width: 56px;
  cursor: pointer;
  background-color: #fed700;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

nav .headermiddle button svg {
  padding: 10px;
  color: #333e48;
}

nav .headerright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
}

nav .headerright p {
  padding-left: 5px;
  font-weight: 750;
  font-size: 1rem;
}

nav .headerright .compare {
  padding-left: 30px;
  position: relative;
}

nav .headerright .compare span {
  position: absolute;
  background-color: #fed700;
  padding-right: 4px;
  padding-left: 4px;
  color: #333e48;
  font-weight: 620;
  border-radius: 80%;
  bottom: 0;
  right: 0;
}

nav .headerright .heart {
  padding-left: 50px;
  position: relative;
}

nav .headerright .heart span {
  position: absolute;
  color: #333e48;
  background-color: #fed700;
  padding-right: 4px;
  padding-left: 4px;
  border-radius: 50%;
  bottom: 0;
  right: 0;
  font-weight: 620;
}

nav .headerright .shop {
  padding-left: 50px;
  position: relative;
}

nav .headerright .shop span {
  position: absolute;
  background-color: #fed700;
  padding-right: 4px;
  color: #333e48;
  padding-left: 4px;
  border-radius: 50%;
  bottom: 0;
  right: 0;
  font-weight: 620;
}

.active-nav {
  position: fixed !important;
  background-color: #ffff;
  left: 0;
  right: 0;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  z-index: 9999;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 1;
    top: 0;
  }
  to {
    opacity: 0;
    top: 0;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 1;
    top: 0;
  }
  to {
    opacity: 0;
    top: 0;
  }
}

#header-bottom .dropdown button {
  width: 250px;
  padding: 10px;
  background-color: #fed700;
  border: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-weight: 700;
  text-align: left;
}

#header-bottom .dropdown-menu {
  display: none;
  width: 82%;
}

#header-bottom .dropdown-menu .li_bold {
  font-weight: 650;
  margin-left: 8px;
  width: 90%;
}

#header-bottom .dropdown-menu .li_bold span {
  font-size: .6rem;
  color: white;
  padding: 2px;
  width: 40px;
  float: right;
  margin-right: 45px;
  background-color: #4cd964;
}

#header-bottom .dropdown-menu .li_thin {
  margin-left: 8px;
  width: 90%;
}

#header-bottom .dropdown-menu a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
}

#header-bottom .dropdown-menu li {
  border-bottom: 1px solid #dddddd;
}

#header-bottom .free p {
  color: #333e48;
  font-weight: 670;
  float: right;
}

.dropdown-hover {
  position: relative;
  display: inline-block;
}

.dropdown-hover button {
  background: none;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  display: block;
  text-decoration: none;
  color: black;
}

.dropdown-hover:hover .dropdown-content {
  display: block;
  z-index: 1;
}

#swiper .swiper {
  width: 100%;
  height: 100%;
}

#swiper .swiper-pagination-bullet {
  background-color: #fed700;
  width: 30px;
  border-radius: 10px;
}

#swiper .swiper-button-prev {
  color: #fff;
  padding: 30px;
  border-radius: 50%;
  background-color: #333e48;
}

#swiper .swiper-button-next {
  color: #fff;
  padding: 30px;
  border-radius: 50%;
  background-color: #333e48;
}

#swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#swiper .swiper-slide img {
  position: absolute;
  width: 100%;
  height: 100%;
}

#swiper .swiper-slide .words span {
  position: relative;
  margin-right: 230px;
  font-weight: 670;
  font-size: 1.7rem;
  color: #333e48;
}

#swiper .swiper-slide .words p {
  color: #333e48;
  position: relative;
  margin-right: 80px;
  font-weight: 670;
  font-size: 2.4rem;
  margin-top: -25px;
}

#swiper .swiper-slide .words h2 {
  position: relative;
  font-size: 3rem;
  margin-top: 50px;
  color: #333e48;
  font-weight: 450;
  text-align: left;
  margin-left: 250px;
}

#swiper .swiper-slide .words h5 {
  position: relative;
  font-size: 1rem;
  text-align: left;
  margin-left: 250px;
  font-weight: 660;
}

#swiper .swiper-slide .words button {
  position: relative;
  background-color: #fed700;
  border: none;
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  color: #333e48;
  margin-right: 40px;
}

#swiper .swiper-slide .words2 h5 {
  margin-top: 70px;
  margin-left: 260px;
  color: #34bcec;
  position: relative;
  text-align: left;
}

#swiper .swiper-slide .words2 h2 {
  position: relative;
  font-weight: 400;
  max-width: 400px;
  margin-left: 260px;
  font-size: 2.5rem;
  text-align: left;
}

#swiper .swiper-slide .words2 span {
  position: relative;
  font-weight: 700;
}

#swiper .swiper-slide .words2 button {
  position: relative;
  background-color: #fed700;
  border: none;
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  color: #333e48;
  margin-right: 25px;
}

#swiper .swiper-slide .img1 img {
  position: relative;
  height: 450px;
}

#swiper .swiper-slide .img2 img {
  position: relative;
  height: 450px;
}

#swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#swiper .swiper {
  margin-left: auto;
  margin-right: auto;
}

#swiper .img3 img {
  height: 450px;
  position: relative;
}

#bottom-swiper img {
  margin-top: 30px;
  gap: 20px;
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#bottom-swiper .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.212);
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#bottom-swiper .image1-1 {
  position: relative;
  width: 100%;
}

#bottom-swiper .image1-1 :hover .overlay {
  height: 100%;
}

#featured {
  padding-top: 50px;
}

#featured .col-4 {
  border: 2px solid #fed700;
  border-radius: 25px;
  height: auto;
}

#featured .col-4 img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#featured .col-4 .special h5 {
  max-width: 150px;
  margin-top: 20px;
  margin-left: 10px;
}

#featured .col-4 .percent p {
  border-radius: 50%;
  background-color: #fed700;
  float: right;
  padding: 10px;
  margin-top: -50px;
}

#featured .col-4 .percent p span {
  font-weight: 660;
  font-size: 1.4rem;
}

#featured .col-4 .bottom-special p {
  color: #0062bd;
  font-weight: 620;
  text-align: center;
}

#featured .col-4 .bottom-special h5 {
  color: #dc3545;
  text-align: center;
}

#featured .col-4 .bottom-special h5 span {
  color: #848484;
  text-decoration: line-through;
}

#featured .col-8 {
  margin-top: -10px;
}

#featured .col-8 .col-3 {
  padding: 15px;
}

#featured .col-8 .col-3 img {
  border-right: 1px solid #dddddd;
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#featured .col-8 .col-3 .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.212);
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  color: #848484;
}

#featured .col-8 .col-3 .overlay svg {
  color: #848484;
}

#featured .col-8 .col-3 .image2-1 {
  position: relative;
  width: 100%;
}

#featured .col-8 .col-3 .image2-1 a {
  text-decoration: none;
}

#featured .col-8 .col-3 .image2-1 span {
  color: #8fa7c1;
  font-size: 0.9rem;
}

#featured .col-8 .col-3 .image2-1 p {
  color: #0062bd;
  font-weight: 650;
}

#featured .col-8 .col-3 .image2-1 :hover .overlay {
  height: 100%;
}

#featured .col-8 .col-3 .image2-1 :hover .overlay .prices svg {
  color: #fed700;
}

#featured .col-8 .col-3 .col-6 {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  margin-top: 245px;
}

#featured .col-8 .col-3 .prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

#featured .col-8 .col-3 .prices h4 {
  font-size: 1.2rem;
  color: #dc3545;
}

#featured .col-8 .col-3 .prices h5 {
  font-size: 1rem;
}

#featured .col-8 .col-3 .prices svg {
  background-color: #e6e6e6;
  color: white;
  border-radius: 50%;
}

#featured .col-8 .sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

#featured .col-8 .sections p {
  font-weight: 650;
  font-size: 1.2rem;
}

#featured .col-8 .sections a {
  text-decoration: none;
  color: #333e48;
}

#best_deals {
  background-color: #f9f9f9;
}

#best_deals .headings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
}

#best_deals .headings a {
  padding-left: 30px;
  color: #333e48;
  text-decoration: none;
  font-weight: 550;
}

#best_deals hr {
  width: 90%;
  margin-left: 100px;
}

#best_deals .col-3 {
  width: 330px;
  padding: 1px;
}

#best_deals .col-3 .col-6 {
  background-color: #ffff;
}

#best_deals .col-3 img {
  border-right: 1px solid #dddddd;
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#best_deals .col-3 .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.212);
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  color: #848484;
}

#best_deals .col-3 .overlay svg {
  color: #848484;
}

#best_deals .col-3 .image2-1 {
  position: relative;
  width: 100%;
}

#best_deals .col-3 .image2-1 a {
  text-decoration: none;
}

#best_deals .col-3 .image2-1 span {
  color: #8fa7c1;
  font-size: 0.9rem;
}

#best_deals .col-3 .image2-1 p {
  color: #0062bd;
  font-weight: 650;
}

#best_deals .col-3 .image2-1 :hover .overlay {
  height: 100%;
}

#best_deals .col-3 .image2-1 :hover .overlay .prices svg {
  color: #fed700;
}

#best_deals .col-3 .prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

#best_deals .col-3 .prices h4 {
  font-size: 1.2rem;
  color: #dc3545;
}

#best_deals .col-3 .prices h5 {
  font-size: 1rem;
}

#best_deals .col-3 .prices svg {
  background-color: #e6e6e6;
  color: white;
  border-radius: 50%;
}

#best_deals .col-6 .swiper {
  width: 100%;
  height: 100%;
}

#best_deals .col-6 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#best_deals .col-6 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#best_deals .col-6 .swiper {
  background-color: #fff;
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

#best_deals .col-6 .swiper-slide {
  background-size: cover;
  background-position: center;
}

#best_deals .col-6 .mySwiper2 {
  height: 80%;
  width: 100%;
}

#best_deals .col-6 .mySwiper2 span {
  color: #848484;
}

#best_deals .col-6 .mySwiper2 p {
  color: #0062bd;
  font-weight: 650;
}

#best_deals .col-6 .mySwiper {
  height: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 50px;
}

#best_deals .col-6 .swiperprice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#best_deals .col-6 .swiperprice h5 {
  color: #dc3545;
}

#best_deals .col-6 .swiperprice h5 span {
  color: #848484;
  font-size: 0.9rem;
  text-decoration: line-through;
  font-weight: 440;
}

#best_deals .col-6 .swiperprice button {
  background-color: #fed700;
  color: #fff;
  border: none;
  border-radius: 25px;
  margin-top: -20px;
  width: 160px;
  font-weight: 650;
}

#best_deals .col-6 .mySwiper img {
  border: 1px solid #848484;
}

#best_deals .col-6 .mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

#best_deals .col-6 .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

#best_deals .col-6 .swiper-wrapper {
  height: 88%;
}

#best_deals .col-6 .swiper-slide img {
  display: block;
  width: 80%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

#bestsellers .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

#bestsellers .grid-container div {
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}

#bestsellers .col-3 {
  padding: 15px;
}

#bestsellers .col-3 img {
  border-right: 1px solid #dddddd;
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#bestsellers .col-3 .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.212);
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  color: #848484;
}

#bestsellers .col-3 .overlay svg {
  color: #848484;
}

#bestsellers .col-3 .image2-1 {
  position: relative;
  width: 100%;
}

#bestsellers .col-3 .image2-1 a {
  text-decoration: none;
}

#bestsellers .col-3 .image2-1 span {
  color: #8fa7c1;
  font-size: 0.9rem;
}

#bestsellers .col-3 .image2-1 p {
  color: #0062bd;
  font-weight: 650;
}

#bestsellers .col-3 .image2-1 :hover .overlay {
  height: 100%;
}

#bestsellers .col-3 .image2-1 :hover .overlay .prices svg {
  color: #fed700;
}

#bestsellers .col-3 .col-6 {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  margin-top: 245px;
}

#bestsellers .col-3 .prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

#bestsellers .col-3 .prices h4 {
  font-size: 1.2rem;
  color: #dc3545;
}

#bestsellers .col-3 .prices h5 {
  font-size: 1rem;
}

#bestsellers .col-3 .prices svg {
  background-color: #e6e6e6;
  color: white;
  border-radius: 50%;
}

#tablet img {
  margin-top: 30px;
  display: block;
  width: 95%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 40px;
}

#tablet .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.212);
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#tablet .image4-1 {
  position: relative;
  width: 100%;
}

#tablet .image4-1 :hover .overlay {
  height: 100%;
}

#newarrivals {
  margin-top: 50px;
}

#newarrivals h4 {
  margin-left: 50px;
}

#newarrivals hr {
  width: 90%;
  margin-left: 50px;
}

#newarrivals .image5 {
  position: relative;
  width: 100%;
}

#newarrivals .image5 a {
  text-decoration: none;
}

#newarrivals .image5 span {
  color: #8fa7c1;
  font-size: 0.9rem;
}

#newarrivals .image5 p {
  color: #0062bd;
  font-weight: 650;
}

#newarrivals .image5 .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.212);
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  color: #848484;
}

#newarrivals .image5 .overlay svg {
  color: #848484;
}

#newarrivals .image5 :hover .overlay {
  height: 100%;
}

#newarrivals .swiper {
  width: 90%;
  height: 90%;
}

#newarrivals .swiper-slide {
  border-right: 1px solid #dddddd;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#newarrivals .swiper-slide img {
  display: block;
  width: 80%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

#details .swiper {
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

#details .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#details .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#details .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

#details .swiper-slide {
  background-size: cover;
  background-position: center;
}

#details .swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
}

#details .mySwiper2 {
  height: 80%;
  width: 100%;
}

#details .mySwiper {
  height: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
}

#details .mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

#details .swiper-button-next {
  color: #333e48;
  font-size: .8rem;
}

#details .swiper-button-prev {
  color: #333e48;
  font-size: .8rem;
}

#details .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

#details .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#details .col-4 {
  margin-top: 20px;
}

#details .col-4 .stars svg {
  color: #fed700;
}

#details .col-4 .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

#details .col-4 .social .facebook {
  background-color: #3b5998;
  color: #fff;
  padding: 2px;
  width: 80px;
}

#details .col-4 .social .facebook svg {
  padding-left: 2px;
  color: #fff;
}

#details .col-4 .social .facebook span {
  margin-left: 10px;
}

#details .col-4 .social .twitter {
  background-color: #1da1f2;
  color: #fff;
  padding: 2px;
  width: 80px;
}

#details .col-4 .social .twitter svg {
  padding-left: 2px;
  color: #fff;
}

#details .col-4 .social .twitter span {
  margin-left: 10px;
}

#details .col-4 p {
  padding-top: 10px;
  color: #8f8b87;
}

#details .col-4 .list li {
  color: #8f8b87;
}

#details .col-4 .bluep span {
  color: #000000;
  font-size: 1.1rem;
  font-weight: 450;
}

#details .col-3 {
  height: 550px;
  border: 1px solid #e3e3e3;
  border-radius: 30px;
}

#details .col-3 button {
  border-radius: 50%;
}

#details .col-3 .heading1 {
  margin-top: 20px;
  margin-left: 20px;
}

#details .col-3 .heading1 h5 {
  font-size: .9rem;
  color: #a8a8a8;
  text-decoration: line-through;
}

#details .col-3 .heading1 hr {
  width: 85%;
  margin-top: -10px;
}

#details .col-3 .heading1 p {
  color: #a8a8a8;
}

#details .col-3 .heading1 p span {
  color: #5bb300;
  font-weight: 650;
}

#details .col-3 .heading2 {
  margin-left: 20px;
  margin-top: 15px;
}

#details .col-3 .heading2 button {
  background-color: transparent;
  border: 1px solid #e3e3e3;
}

#details .col-3 .heading3 {
  margin-top: 10px;
  margin-left: 20px;
}

#details .col-3 .heading3 .colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#details .col-3 .heading3 .colors .black {
  padding-left: 10px;
}

#details .col-3 .heading3 .colors .blue span {
  color: blue;
}

#details .col-3 .heading3 .colors .red {
  padding-left: 10px;
}

#details .col-3 .heading3 .colors .red span {
  color: red;
}

#details .col-3 .heading3 .colors .yellow {
  padding-left: 10px;
}

#details .col-3 .heading3 .colors .yellow span {
  color: yellow;
}

#details .col-3 .heading3 .colors button {
  padding: 5px;
  padding-left: 25px;
  border: none;
}

#details .col-3 .heading4 {
  margin-top: 20px;
  margin-left: 20px;
}

#details .col-3 .heading4 input {
  width: 140px;
  border: 1px solid #e6e6e6;
  border-radius: 15px;
}

#details .col-3 .heading4 button {
  margin-top: 15px;
  width: 90%;
  border-radius: 30px;
  padding: 15px;
  background-color: #fed700;
  color: #fff;
  border: none;
}

#details .col-3 .heading4 .wishlist {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#details .col-3 .heading4 .wishlist span {
  color: #acacac;
}

#details .col-3 .heading4 .wishlist .compare {
  padding-left: 25px;
}

.gohome {
  margin-top: 20px;
  margin-left: 50px;
}

.gohome a {
  text-decoration: none;
  color: #292828;
}

#login {
  margin-top: 30px;
}

#login hr {
  width: 90%;
}

#login h2 {
  font-weight: 420;
}

#login .col-6 h5 {
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
}

#login .col-6 li {
  list-style: none;
  margin-left: -20px;
}

#login .col-6 li svg {
  color: #5bb300;
}

#login .inputs span {
  font-weight: 500;
}

#login .inputs input {
  border: 1px solid  #333e485e;
  border-radius: 30px;
  width: 90%;
  padding: 10px;
  margin-top: 10px;
}

#login .row {
  margin-top: 20px;
}

#login .row a {
  text-decoration: none;
  color: #353535;
}

#login .row .password a {
  float: right;
}

#login .loginbtn {
  margin-top: 20px;
}

#login .loginbtn button {
  background-color: #fed700;
  border: none;
  padding: 10px;
  width: 130px;
  font-weight: 550;
  border-radius: 25px;
}

#onsale {
  margin-top: 100px;
}

#onsale .col-3 h4 {
  color: #333e48;
  text-decoration: none;
}

#onsale .col-3 .row {
  padding-top: 25px;
}

#onsale .col-3 .col-8 a {
  text-decoration: none;
  color: #0062cc;
  font-weight: 500;
}

#onsale .col-3 .col-8 p {
  color: #e17f63;
  font-weight: 550;
}

#onsale .col-3 .col-8 p span {
  color: #848484;
  font-size: .7rem;
  text-decoration: line-through;
}

#companies img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

#newsletter {
  background-color: #fed700;
  height: 70px;
}

#newsletter .col-3 {
  margin-top: 18px;
  float: left;
}

#newsletter .col-3 span {
  font-size: 1.4rem;
}

#newsletter .col-4 {
  margin-top: 20px;
}

#newsletter .col-5 {
  margin-top: 15px;
}

#newsletter .coupon span {
  font-weight: 500;
  font-size: 1.1rem;
}

#newsletter .field {
  float: right;
}

#newsletter .field input {
  width: 400px;
  outline: none;
  border: none;
  border-radius: 25px;
  padding: 10px;
}

#newsletter .field button {
  margin-left: -20px;
  background-color: #333e48;
  color: #ffff;
  padding: 10px;
  border-top-right-radius: 25px;
  width: 100px;
  border-bottom-right-radius: 25px;
}

.gohome {
  margin-top: 20px;
  margin-left: 50px;
}

.gohome a {
  text-decoration: none;
  color: #292828;
}

#register {
  margin-top: 30px;
}

#register hr {
  width: 90%;
}

#register h2 {
  font-weight: 420;
}

#register h5 {
  margin-top: 20px;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
}

#register li {
  list-style: none;
  margin-left: -20px;
}

#register li svg {
  color: #5bb300;
}

#register .inputs span {
  font-weight: 500;
}

#register .inputs input {
  border: 1px solid  #333e485e;
  border-radius: 30px;
  width: 90%;
  padding: 10px;
  margin-top: 10px;
}

#register .row {
  margin-top: 20px;
}

#register .row a {
  text-decoration: none;
  color: #353535;
}

#register .row .password a {
  float: right;
}

#register .loginbtn {
  margin-top: 20px;
}

#register .loginbtn button {
  background-color: #fed700;
  border: none;
  padding: 10px;
  width: 130px;
  font-weight: 550;
  border-radius: 25px;
}

#footer {
  margin-top: 50px;
}

#footer a {
  text-decoration: none;
  color: #333e48;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer h2 {
  font-size: 2.9rem;
  font-weight: 790;
}

#footer span {
  color: #fed700;
  font-weight: 790;
  font-size: 2.7rem;
}

#footer .contact2 {
  margin-top: 20px;
}

#footer .contact2 svg {
  color: #fed700;
}

#footer .contact2 span {
  color: #a0a5a9;
  font-size: .9rem;
  font-weight: 400;
}

#footer .contact2 p {
  margin-left: 60px;
  font-weight: 550;
  font-size: 1.2rem;
}

#footer .contactinfo span {
  color: #333e48;
  font-size: 1rem;
}

#footer .icons2 {
  margin-top: 20px;
}

#footer .col-2 {
  margin-top: 20px;
}

#footer .col-2 p {
  font-weight: 550;
}

#footer .col-2 li {
  list-style: none;
  margin-left: -30px;
}

#footer .payments {
  margin-top: 50px;
  background-color: #eaeaea;
}

#footer .payments .cards {
  float: right;
}

#footer .payments .electro {
  float: left;
}

#footer .payments .electro p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */