#details{
    
    .swiper {
        margin-top: 20px;
        width: 100%;
        height: 100%;
      }
  
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  
      
  
      .swiper {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
      }
  
      .swiper-slide {
        img{
            object-fit: cover;
        }
        background-size: cover;
        background-position: center;
      }
  
      .mySwiper2 {
        height: 80%;
        width: 100%;
      }
  
      .mySwiper {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
      }
  
      .mySwiper .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
      }
  
      .swiper-button-next{
        color: #333e48;
        font-size: .8rem;
      }
      .swiper-button-prev{
        color: #333e48;
        font-size: .8rem;
      }

      .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
      }
  
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

     .col-4{
        margin-top: 20px;
        .stars{
            svg{
                color: #fed700;
            }
          }
          .social{
            display: flex;
            gap: 20px;
            .facebook{
                background-color: #3b5998;
                color: #fff;
                padding: 2px;
                width: 80px;
                svg{
                    padding-left: 2px;
                    color: #fff;
                }
                span{
                    margin-left: 10px;
                }
            }
            .twitter{
                background-color: #1da1f2;
                color: #fff;
                padding: 2px;
                width: 80px;
                svg{
                    padding-left: 2px;
                    color: #fff;
                }
                span{
                    margin-left: 10px;
                }
            }
          }
          p{
            padding-top: 10px;
            color: #8f8b87;
          }
          .list{
            li{
                color: #8f8b87;
            }
          }
    
          .bluep{
            span{
                color: #000000;
                font-size: 1.1rem;
                font-weight: 450;
            }
          }
     }
     .col-3{
      height: 550px;
      border: 1px solid #e3e3e3;
      border-radius: 30px;
      button{
        border-radius: 50%;
      }
      .heading1{
        margin-top: 20px;
        margin-left: 20px;
        
        h5{
          font-size: .9rem;
          color: #a8a8a8;
          text-decoration: line-through;
        }
        hr{
          width: 85%;
          margin-top: -10px;
        }
        p{
          color: #a8a8a8;
          span{
            color: #5bb300;
            font-weight: 650;
          }
        }
      }
      .heading2{
        margin-left: 20px;
        margin-top: 15px;
        button{
          background-color: transparent;
          border: 1px solid #e3e3e3;
        }
      }
      .heading3{
        margin-top: 10px;
        margin-left: 20px;
        .colors{
          display: flex;
          .black{
            padding-left: 10px;
          }
          .blue{
            span{
              color: blue;
            }
          }
          .red{
            padding-left: 10px;
            span{
              color: red;
            }
          }
          .yellow{
            span{
              color: yellow;
            }
            padding-left: 10px;
          }
          button{
            padding: 5px;
            padding-left: 25px;
            border: none;
          }
        }
      }
      .heading4{
        margin-top: 20px;
        margin-left: 20px;
        input{
          width: 140px;
          border: 1px solid #e6e6e6;
          border-radius: 15px;
        }
        button{
          margin-top: 15px;
          width: 90%;
          border-radius: 30px;
          padding: 15px;
          background-color: #fed700;
          color: #fff;
          border: none;
        }
        .wishlist{
          margin-top: 20px;
          display: flex;
          span{
            color: #acacac;
          }
          .compare{
            padding-left: 25px;
          }
        }
      }
     }
}
