#details{
   
    .swiper {
        margin-top: 20px;
        width: 100%;
        height: 100%;
      }
  
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  
      body {
        background: #000;
        color: #000;
      }
  
      .swiper {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
      }
  
      .swiper-slide {
        img{
            object-fit: cover;
        }
        background-size: cover;
        background-position: center;
      }
  
      .mySwiper2 {
        height: 80%;
        width: 100%;
      }
  
      .mySwiper {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
      }
  
      .mySwiper .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
      }
  
      .swiper-button-next{
        color: #333e48;
        font-size: .8rem;
      }
      .swiper-button-prev{
        color: #333e48;
        font-size: .8rem;
      }

      .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
      }
  
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

     .col-4{
        margin-top: 20px;
        margin-left: 20px;
        .stars{
            svg{
                color: #fed700;
            }
          }
          .social{
            display: flex;
            gap: 20px;
            .facebook{
                background-color: #3b5998;
                color: #fff;
                padding: 2px;
                width: 80px;
                svg{
                    padding-left: 2px;
                    color: #fff;
                }
                span{
                    margin-left: 10px;
                }
            }
            .twitter{
                background-color: #1da1f2;
                color: #fff;
                padding: 2px;
                width: 80px;
                svg{
                    padding-left: 2px;
                    color: #fff;
                }
                span{
                    margin-left: 10px;
                }
            }
          }
          p{
            padding-top: 10px;
            color: #8f8b87;
          }
          .list{
            li{
                color: #8f8b87;
            }
          }
    
          .bluep{
            svg{
                
            }
            span{
                color: #1da1f3;
                font-size: 1.1rem;
                font-weight: 550;
            }
          }
     }
}
