#header-bottom{

   
    .dropdown{
       

        button{
            width: 250px;
            padding: 10px;
            background-color: #fed700;
            border: none;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
           
            text-align: left;
            span{
                font-weight: 650;
            }
        }
    }
    
    .dropdown-menu {
        display: none;
        width: 82%;
        .li_bold{
            font-weight: 650;
            margin-left: 8px;
            width: 90%;
            span{
                font-size: .6rem;
                color: white;
                padding: 2px;
                width: 40px;
                float: right;
                margin-right: 45px;
            
                background-color: #4cd964;
            }
        }
        .li_thin{
            margin-left: 8px;
            width: 90%;
        }
        a{
            text-decoration: none;
            color: black;
            font-size: 1.1rem;
        }
        li{
            border-bottom: 1px solid#dddddd;
        }
      }

      .free{
        p{
            color: #333e48;
            font-weight: 670;
            float: right;
        }
      }
      
}

.dropdown-hover {
    position: relative;
    display: inline-block;
    button{
        background: none;
        border: none;
        font-weight: 640;
        span{
            background-color: #4cd964;
            color: #fff;
            font-size: .7rem;
        }
    }
  }
  
  .dropdown-content {
    background-color: #fff;
    display: none;
    position: relative;
    z-index: 1;


    .col-3{
        display: flex;

    }
    a{
        display: block;
        text-decoration: none;
        color: black;
        
    }
  }
  
  .home1 :hover .dropdown-content{
    width: 400px;
  }
  
  .dropdown-hover:hover .dropdown-content {
    display: block;
    z-index: 1;
    position: absolute;
    hr{
        border: 3px solid #feed00;
    }
    .home1{
        width: 300px;
       
        a{
            margin-left: 20px;
            padding-bottom: 10px;
            font-size: .9rem;
        }
    }
    .catalog{
        width: 950px;
        margin-left: -100px;
        background-color: #fff;
        span{
            font-weight: 650;
        }
        li{
            padding-top: 10px;
            list-style: none;
        }
    }
    .gift{
        width: 980px;
        height: 250px;
        margin-left: -200px;
        background-color: #fff;
        img{
            margin-top: 20px;
           width: 150px;
           height: 150px;
        }
        p{
            margin-top: 20px;
            color: #dc3545;
            font-weight: 550;
            font-size: 1.4rem;
            span{
                color: #848484;
                text-decoration: line-through;
                font-size: .8rem;
            }
        }
    }

    .pagessale{
        margin-left: -20px;
        width: 250px;
        background-color: #fff;
        a{
            margin-left: 20px;
            padding-bottom: 10px;
            font-size: .9rem;
        }
    }
   
}
  

  #swiper{
    .swiper {
        width: 100%;
        z-index: -1;
        height: 100%;
      }
      .swiper-pagination-bullet{
        background-color: #fed700;
        width: 30px;
        border-radius: 10px;
      }
      .swiper-button-prev{
        color: #fff;
        padding: 30px;
        border-radius: 50%;
        background-color: #333e48;
      }
      .swiper-button-next{
        color: #fff;
        padding: 30px;
        border-radius: 50%;
        background-color: #333e48;
      }
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
        }
      
        .words{
            
                span{
                    position: relative;
                    margin-right: 230px;
                    font-weight: 670;
                    font-size: 1.7rem;
                    color: #333e48;
                }
                p{
                    color: #333e48;
                    position: relative;
                    margin-right: 80px;
                    font-weight: 670;
                    font-size: 2.4rem;
                    margin-top: -25px;
                }
           h2{
                position: relative;
                font-size: 3rem;
                margin-top: 50px;
                color: #333e48;
                font-weight: 450;
                text-align: left;
                margin-left: 250px;
                
            }
            h5{
                position: relative;
                font-size: 1rem;
                text-align: left;
                margin-left: 250px;
                font-weight: 660;
            }
           
            button{
                position: relative;
                background-color: #fed700;
                border: none;
                padding: 10px;
                width: 200px;
                border-radius: 10px;
                color: #333e48;
                margin-right: 40px;
            }
        
        }

        .words2{
            h5{
                margin-top: 70px;
                margin-left: 260px;
                color: #34bcec;
                position: relative;
                text-align: left;
            }
            h2{
                position: relative;
                font-weight: 400;
                max-width: 400px;
                margin-left: 260px;
                font-size: 2.5rem;
                text-align: left;
            }
            span{
                position: relative;
                font-weight: 700;
            }
            button{
                position: relative;
                background-color: #fed700;
                border: none;
                padding: 10px;
                width: 200px;
                border-radius: 10px;
                color: #333e48;
                margin-right: 25px;
            }
        }

        .img1{
            img{
                position: relative;
                height: 450px;
                
            }
          
        }
        .img2{
            img{
              position: relative;
              height: 450px;
            }
        }
     
      }
  
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  
      .swiper {
        margin-left: auto;
        margin-right: auto;
      }
    
      .img3{
        img{
            height: 450px;
            position: relative;
        }
      }

  }

  #bottom-swiper{
    img{
        margin-top: 30px;
        gap: 20px;
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
     
    }
    .overlay{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.212) ;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .3s ease-in-out;
    }


    .image1-1{
        position: relative;
        width: 100%;
    }
    .image1-1 :hover .overlay {
        height: 100%;
      }
  }

  #featured{
    padding-top: 50px;
    .col-4{
        border: 2px solid #fed700;
        border-radius: 25px;
        height: auto;
        img{
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        .special{
            h5{
                max-width: 150px;
                margin-top: 20px;
                margin-left: 10px;
            }
          
        }
        .percent{
            p{
                border-radius: 50%;
                background-color: #fed700;
                float: right;
                padding: 10px;
                margin-top: -50px;
                span{
                    font-weight: 660;
                    font-size: 1.4rem;
                }
            }
           }

           .bottom-special{
            p{
                color: #0062bd;
                font-weight: 620;
                text-align: center;
            }
            h5{
                color: #dc3545;
                text-align: center;
                span{
                    color: #848484;
                    text-decoration: line-through;
                }
            }
           }
         
    }
    .col-8{
        margin-top: -10px;
        .col-3{
            padding: 15px;
            img{
                border-right: 1px solid #dddddd;
                display: block;
                width: 100%;
                height: auto;
                object-fit: cover;
            }
            .overlay{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(255, 255, 255, 0.212) ;
                overflow: hidden;
                width: 100%;
                height: 0;
                transition: .3s ease-in-out;
                svg{
                    
                    color: #848484;
                }
                color: #848484;
            }
            .image2-1{
                position: relative;
                width: 100%;
                a{
                    text-decoration: none;
                }
                span{
                    color: #8fa7c1;
                    font-size: 0.9rem;
                }
                p{
                    color: #0062bd;
                    font-weight: 650;
                }
                
            }
            .image2-1 :hover .overlay {
                height: 100%;
                .prices{
                    svg{
                        color: #fed700;
                    }
                }
              }

              .col-6{
                transition: .3s ease-in-out;
                margin-top: 245px;
                
              }

              .prices{
                display: flex;
                gap: 10px;
                h4{
                    font-size: 1.2rem;
                    color: #dc3545;
                }
                h5{
                    font-size: 1rem;
                }
                svg{
                    background-color: #e6e6e6;
                    color: white;
                    border-radius: 50%;
                }
              }
             
     
        }

       

        .sections{
            display: flex;
            justify-content: center;
            gap: 20px;
            p{
                font-weight: 650;
                font-size: 1.2rem;
            }
            a{
                text-decoration: none;
                color: #333e48;
            }
        }
    }
  }


#best_deals{
    background-color: #f9f9f9;
    .headings{
        display: flex;
        justify-content: center;
        padding-top: 40px;
        a{
            padding-left: 30px;
            color: #333e48;
            text-decoration: none;
            font-weight: 550;
        }
    }
    hr{
        width: 90%;
       margin-left: 100px;
    }

    .col-3{
        width: 330px;
        .col-6{
            background-color: #ffff;
        }
        padding: 1px;
        img{
            border-right: 1px solid #dddddd;
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        .overlay{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(255, 255, 255, 0.212) ;
            overflow: hidden;
            width: 100%;
            height: 0;
            transition: .3s ease-in-out;
            svg{
                
                color: #848484;
            }
            color: #848484;
        }
        .image2-1{
            position: relative;
            width: 100%;
            a{
                text-decoration: none;
            }
            span{
                color: #8fa7c1;
                font-size: 0.9rem;
            }
            p{
                color: #0062bd;
                font-weight: 650;
            }
            
        }
        .image2-1 :hover .overlay {
            height: 100%;
            .prices{
                svg{
                    color: #fed700;
                }
            }
          }


          .prices{
            display: flex;
            gap: 10px;
            h4{
                font-size: 1.2rem;
                color: #dc3545;
            }
            h5{
                font-size: 1rem;
            }
            svg{
                background-color: #e6e6e6;
                color: white;
                border-radius: 50%;
            }
          }
         
 
    }


    .col-6{
        .swiper {
            width: 100%;
            height: 100%;
          }
      
          .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
          }
      
          .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
      
          
      
          .swiper {
            background-color: #fff;
            width: 100%;
            height: 300px;
            margin-left: auto;
            margin-right: auto;
          }
      
          .swiper-slide {
            background-size: cover;
            background-position: center;
          }
      
          .mySwiper2 {
            height: 80%;
            width: 100%;
            span{
                color: #848484;
                
            }
            p{
                color: #0062bd;
                font-weight: 650;
            }
          }
      
          .mySwiper {
            height: 20%;
            box-sizing: border-box;
            padding: 30px 50px;
        
          }

          .swiperprice{
            display: flex;
            justify-content: space-between;
            h5{
                color: #dc3545;
                span{
                    color: #848484;
                    font-size: 0.9rem;
                    text-decoration: line-through;
                    font-weight: 440;
                }
            }
            button{
                background-color: #fed700;
                color: #fff;
                border: none;
                border-radius: 25px;
                margin-top: -20px;
                width: 160px;
                font-weight: 650;
            }
          }

          .mySwiper img{
            border: 1px solid #848484;
            
          }
      
          .mySwiper .swiper-slide {
            width: 25%;
            height: 100%;
            opacity: 0.4;
          }
      
          .mySwiper .swiper-slide-thumb-active {
            opacity: 1;
          }
      
          .swiper-wrapper{
            height: 88%;
          }
          .swiper-slide img {
            display: block;
            width: 80%;
            height: 80%;
            object-fit: cover;
          }
    }
}

#bestsellers{
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 10px;
        background-color: #2196F3;
        padding: 10px;
      }
      
      .grid-container div {
        border: 1px solid black;
        text-align: center;
        font-size: 30px;
      }

      .col-3{
        padding: 15px;
        img{
            border-right: 1px solid #dddddd;
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        .overlay{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(255, 255, 255, 0.212) ;
            overflow: hidden;
            width: 100%;
            height: 0;
            transition: .3s ease-in-out;
            svg{
                
                color: #848484;
            }
            color: #848484;
        }
        .image2-1{
            position: relative;
            width: 100%;
            a{
                text-decoration: none;
            }
            span{
                color: #8fa7c1;
                font-size: 0.9rem;
            }
            p{
                color: #0062bd;
                font-weight: 650;
            }
            
        }
        .image2-1 :hover .overlay {
            height: 100%;
            .prices{
                svg{
                    color: #fed700;
                }
            }
          }

          .col-6{
            transition: .3s ease-in-out;
            margin-top: 245px;
            
          }

          .prices{
            display: flex;
            gap: 10px;
            h4{
                font-size: 1.2rem;
                color: #dc3545;
            }
            h5{
                font-size: 1rem;
            }
            svg{
                background-color: #e6e6e6;
                color: white;
                border-radius: 50%;
            }
          }
         
 
    }

}


#tablet{
    img{
        margin-top: 30px;
        display: block;
        width: 95%;
        height: auto;
        object-fit: cover;
        margin-left: 40px;
    }
    .overlay{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.212) ;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .3s ease-in-out;
    }


    .image4-1{
        position: relative;
        width: 100%;
    }
    .image4-1 :hover .overlay {
        height: 100%;
      }
}


#newarrivals{
    margin-top: 50px;
    h4{
        margin-left: 50px;
    }
    hr{
        width: 90%;
        margin-left: 50px;
    }
     .image5{
                position: relative;
                width: 100%;
                a{
                    text-decoration: none;
                }
                span{
                    color: #8fa7c1;
                    font-size: 0.9rem;
                }
                p{
                    color: #0062bd;
                    font-weight: 650;
                }
                .overlay{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: rgba(255, 255, 255, 0.212) ;
                    overflow: hidden;
                    width: 100%;
                    height: 0;
                    transition: .3s ease-in-out;
                    svg{
                        
                        color: #848484;
                    }
                    color: #848484;
                }
            }
            
            .image5 :hover .overlay {
                height: 100%;
              
              }
    .swiper {
        width: 90%;
        height: 90%;
      }
  
      .swiper-slide {
        border-right: 1px solid #dddddd;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      .swiper-slide img {
        display: block;
        width: 80%;
        height: 80%;
        object-fit: cover;
      }
}