#header-bottom{
 
    .dropdown{
       

        button{
            width: 250px;
            padding: 10px;
            background-color: #fed700;
            border: none;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            font-weight: 700;
            text-align: left;
            
        }
    }
    
    .dropdown-menu {
        display: none;
        width: 82%;
        .li_bold{
            font-weight: 650;
            margin-left: 8px;
            width: 90%;
            span{
                font-size: .6rem;
                color: white;
                padding: 2px;
                width: 40px;
                float: right;
                margin-right: 45px;
            
                background-color: #4cd964;
            }
        }
        .li_thin{
            margin-left: 8px;
            width: 90%;
        }
        a{
            text-decoration: none;
            color: black;
            font-size: 1.1rem;
        }
        li{
            border-bottom: 1px solid#dddddd;
        }
      }

      .free{
        p{
            color: #333e48;
            font-weight: 670;
            float: right;
        }
      }
      
}

.dropdown-hover {
    position: relative;
    display: inline-block;
    button{
        background: none;
        border: none;
    }
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    a{
        display: block;
        text-decoration: none;
        color: black;
        
    }
  }
  
  
  .dropdown-hover:hover .dropdown-content {
    display: block;
    z-index: 1;
    
  }
  

  #swiper{
    .swiper {
        width: 100%;
        height: 100%;
      }
  
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
        }
      
        .words{
            
                span{
                    position: relative;
                    margin-right: 230px;
                    font-weight: 670;
                    font-size: 1.7rem;
                    color: #333e48;
                }
                p{
                    color: #333e48;
                    position: relative;
                    margin-right: 80px;
                    font-weight: 670;
                    font-size: 2.4rem;
                    margin-top: -25px;
                }
           h2{
                position: relative;
                font-size: 3rem;
                margin-top: 50px;
                color: #333e48;
                font-weight: 450;
                text-align: left;
                margin-left: 250px;
                
            }
            h5{
                position: relative;
                font-size: 1rem;
                text-align: left;
                margin-left: 250px;
                font-weight: 660;
            }
           
            button{
                position: relative;
                background-color: #fed700;
                border: none;
                padding: 10px;
                width: 200px;
                border-radius: 10px;
                color: #333e48;
                margin-right: 40px;
            }
        
        }

        .words2{
            h5{
                margin-top: 70px;
                margin-left: 260px;
                color: #34bcec;
                position: relative;
                text-align: left;
            }
            h2{
                position: relative;
                font-weight: 400;
                max-width: 400px;
                margin-left: 260px;
                font-size: 2.5rem;
                text-align: left;
            }
            span{
                position: relative;
                font-weight: 700;
            }
            button{
                position: relative;
                background-color: #fed700;
                border: none;
                padding: 10px;
                width: 200px;
                border-radius: 10px;
                color: #333e48;
                margin-right: 25px;
            }
        }

        .img1{
            img{
                position: relative;
                height: 450px;
                
            }
          
        }
        .img2{
            img{
              position: relative;
              height: 450px;
            }
        }
     
      }
  
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  
      .swiper {
        margin-left: auto;
        margin-right: auto;
      }
    
      .img3{
        img{
            height: 450px;
            position: relative;
        }
      }

  }

  #bottom-swiper{
    img{
        margin-top: 30px;
        gap: 20px;
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
     
    }
    .overlay{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.212) ;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .3s ease-in-out;
    }


    .image1-1{
        position: relative;
        width: 100%;
    }
    .image1-1 :hover .overlay {
        height: 100%;
      }
  }

  #featured{
    padding-top: 50px;
    .col-4{
        border: 2px solid #fed700;
        border-radius: 25px;
        img{
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        .special{
            h5{
                max-width: 150px;
                margin-top: 20px;
                margin-left: 10px;
            }
          
        }
        .percent{
            p{
                border-radius: 50%;
                background-color: #fed700;
                float: right;
                padding: 10px;
                margin-top: -50px;
                span{
                    font-weight: 660;
                    font-size: 1.4rem;
                }
            }
           }

           .bottom-special{
            p{
                color: #0062bd;
                font-weight: 620;
                text-align: center;
            }
            h5{
                color: #dc3545;
                span{
                    color: #848484;
                    text-decoration: line-through;
                }
            }
           }
    }
    .col-8{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
  }