#header-bottom{
    .dropdown{
        margin-top: 150px;

        button{
            width: 250px;
            padding: 10px;
            background-color: #fed700;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            font-weight: 700;
            text-align: left;
            
        }
    }
    
    .dropdown-menu {
        display: none;
        width: 82%;
        .li_bold{
            font-weight: 650;

        }
        a{
            text-decoration: none;
            color: black;
            font-size: 1.1rem;
        }
        li{
            border-bottom: 1px solid gray;
        }
      }
      
}